@import "tailwindcss";

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 1.5rem);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
